* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  overflow-x: hidden;
  min-height: 110vh;
}

div#logo {
  display: flex;
  align-items: center;
}
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

ul#nav {
  display: none;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
}
ul#nav-mobile {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  width: 30vw;
  top: 0;
  right: 0;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  transform: translate(100%);
}

div#hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: 50px;
  margin: 2px;
}
span {
  display: block;
  height: 7px;
  width: 50px;
  margin: 4px;
  background: black;
  border-radius: 20%;
}
@media screen and (min-width: 640px) {
  ul#nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
  }
  div#hamburger {
    display: none;
  }
}
