*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-areas:
    "h"
    "hero"
    "cards"
    "tiles"
    "layout"
    "art"
    "c";
}
